<% content_for :title, "About Us" %>
<% content_for :body_class, "home" %>

<div id="fullColumn">

  <h3>About</h3>

  <p>Poligraft is a project of <a href="http://sunlightlabs.com/">Sunlight Labs</a>, the technology arm of the <a href="http://sunlightfoundation.com/">Sunlight Foundation</a>.</p>

  <h3>Using Poligraft</h3>

  <p><object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/UpaglSOj9OU&amp;hl=en_US&amp;fs=1?rel=0&amp;hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/UpaglSOj9OU&amp;hl=en_US&amp;fs=1?rel=0&amp;hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object></p>

  <h3>Our Data</h3>

  <p>Our data is provided by the <a href="http://www.opensecrets.org/">Center for Responsive Politics</a> and the <a href="http://www.followthemoney.org/">National Institute for Money in State Politics</a>.</p>

  <p>For more information on how we use this data, see our <a href="http://influenceexplorer.com/about/methodology/campaign_finance">campaign finance</a> and <a href="http://influenceexplorer.com/about/methodology/lobbying">lobbying</a> methodology pages.</p>

  <p>Poligraft is a website and utility that creates an enhanced view of the people, organizations and relationships described within political news stories, blog posts and press releases. To search the underlying records or download the data in bulk, see our companion site <a href="http://transparencydata.com/">Transparency Data</a>.</p>

  <p>Poligraft uses <a href="http://www.opencalais.com/">Calais</a> for identifying and tagging the people and organizations in all searches performed.</p>

  <p>Sunlight makes no guarantee that a John Smith listed in Poligraft results is any given John Smith on a Google search results page, so use the information with caution.</p>

  <h3>Developers</h3>

  <p>Poligraft is built on the public Transparency Data API. For more information see its <a href="http://transparencydata.com/api/aggregates/contributions/">API documentation</a>.</p>

  <p>Poligraft also has its own built-in API. Specify a URL or text to be processed, and get back the results in JSON format. In fact, every result page in Poligraft has a corresponding JSON representation. Just append a <code>.json</code> to the unique slug, <a href="/vyJf.json">like so</a>.</p>
  
  <p>To process an article, use the <code>/poligraft</code> endpoint in conjunction with a <code>POST</code> or <code>GET</code> request:</p>
  
  <p><code>http://poligraft.com/poligraft?url=ARTICLE_URL_HERE&json=1</code></p>

  <p>Be sure to pass in <code>json=1</code> or else HTML will be returned, and use <code>url=</code> to pass in a URL or <code>text=</code> to pass in a selection of text. To get back JSONP instead of JSON, append <code>callback=foo</code> to the request, where <code>foo</code> is the name of the desired callback function to wrap the JSON inside. HTTP clients must have redirection enabled, as the response will be a redirect to a slug endpoint like <code>/ABCD.json</code>.
    
  <p>Because Poligraft does processing asynchronously, this endpoint will return a <code>202 ACCEPTED</code> code until processing is finished, when it returns a <code>200 OK</code>. In addition to the HTTP response code, there's a top-level field in the JSON called <code>processed</code> which is set to <code>false</code> while processing is active. Poll the endpoint every few seconds until the return code is <code>200</code> or the <code>processed</code> value in the JSON is true. Both techniques will work.</p>
  
  <h3>Contact Us</h3>

  <p>For questions or comments, please use the Feedback link at the bottom of the page.</p>
</div>