<% content_for :title, "Thanks for the feedback" %>
<% content_for :body_class, "home" %>

<div id="fullColumn">
  <h2>Thanks for the feedback</h2>
  <p>Your message has been submitted.</p>

  <p>Please take a moment to share Poligraft with your friends and colleagues. You can do so by sending around the URL (<strong>poligraft.com</strong>), or post a link on <a href="http://www.facebook.com/share.php?u=http://poligraft.com">Facebook</a> and <a href="http://twitter.com/?status=http://poligraft.com">Twitter</a>. 

</div>