body {
  color: #333;
  background-color: #888;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #14486F;
}

ul, ol {
  line-height: 20px;
}
label, input {
  display: block;
}
input, select, textarea {
  margin-bottom: 15px;
  border: 1px solid #999;
  background: #fff;
  padding: 3px 2px 3px 2px;
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  border-radius: 4px;     
}
input[type="hidden"] {
  display: none;
}
input.inline, label.inline {
  display: inline;
}
input[type="submit"], input[type="button"] {
  font-size: 14px;
}

input#user_openid_identifier, input#user_session_openid_identifier {
  background: url(http://openid.net/images/login-bg.gif) no-repeat;
  border: 1px solid #DF9845;
  color: #000;
  background-position: 0 50%;
  padding-left: 18px;
} 

table {
  margin: 5px 0px 20px 0px;
  border: 1px solid #999;
}
tr,th,td {
  text-align: left;
  border: 1px solid #999;
  padding: 5px 15px 5px 5px;
}

hr {
  height: 1px;
  color: #999;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; 
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 1px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

div#user_nav { 
  float: right;
  font-size: 0.9em;
}

div#header {
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
}

ul#navigation {
  margin-bottom: 10px;
  padding: 0;
}

ul#navigation li {
  display: inline;
}

a.bookmarklet {
  color: #111;
  background-color: #ddd;
  text-decoration: none;
  padding: 5px 8px 5px 8px;
  border: 1px solid #999;
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px; 
  border-radius: 8px;   
}

div#truthified {
  padding: 10px 10px 10px 10px;
  border: 1px solid #999;
  width: 60%;
  float: left;
  margin-bottom: 50px;
}

span.highlight {
  background-color: #FEFFBF;
}

div#sidebar {
  border: 1px solid #999;
  padding: 10px 10px 10px 10px;
  width: 33%;
  float: right;
}

div#footer {
  clear: both;
  width: 100%;
  display: block;
  margin-top: 10px;
  border-top: 1px solid #333;
}
